body {
  width: 100vw;
  height: 100vh;
  background: #4DD0E1;
}
.main{
  width: 600px;
  margin: 0 auto;
}
.flexbox {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wordContainer {
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wordContainer:after {
  content: '';
  height: 100px;
  width: 10px;
  transform: skewY(45deg);
  position: absolute;
  top: 5px;
  right: -10px;
}
.wordContainer:before{
  content: '';
  height: 10px;
  width: 250px;
  transform: skewX(45deg);
  position: absolute;
  left: 5px;
  bottom: -10px;
}
.wordInput {
  color: inherit;
  display: inline-block;
  width: 60%;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  background: rgba(255,255,255,0.2);
  border: none;
}
.portmanteau {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 100px;
  position: relative;
}
.portmanteau-after{
  height: 10px;
  width: 600px;
  transform: skewX(45deg);
  position: absolute;
  left: 5px;
  bottom: -10px;
}
.portmanteau-before{
  height: 100px;
  width: 10px;
  transform: skewY(45deg);
  position: absolute;
  top: 5px;
  right: -10px;
}
.portmanteau > span {
  font-size: 1.2rem;
  text-align: center;
  width: 60%;
  height: 25px;
  padding-top: 1px;
  color: rgba(0,0,0,0.5);
  font-family: sans-serif;
  display: inline-block;
  margin: 0;
  background: rgba(255,255,255,0.2);
}
button {
  border-radius: 50%;
  background: none;
  font-size: 0.75rem;
  color: inherit;
  border: none;
}
button.submit {
  border: 2px solid #1E88E5;
  height: 48px;
  width: 48px;
}
button > i {
  font-size: 34px;
  line-height: 45px;
  color: #1E88E5;
}
span{
  display: block;
  text-align: center;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.5);
}
button.save {
  border: none;
  padding: 40px;
  font-size: 1rem
}
button.randomWord {
  border: none;
  width: 60px;
  padding: 5px 10px;
  margin: 0;
}
button.delete {
  padding: 40px;
  font-size: 1rem;
}
button > .star {
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  line-height: 45px;
}
.heading {
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 3rem;
  margin: 5rem 0 0;
}

/* COLORS */

.red {
  background: #F44336;
  color: #B71C1C;
}
.red:after, .red:before {
  background: #B71C1C;
}
.red-heading {
  color: #F44336;
  text-shadow: 0px 0px #B71C1C, 1px 1px #B71C1C, 3px 3px #B71C1C, 4px 4px #B71C1C, 5px 5px #B71C1C;
}
.purple {
  background: #673AB7;
  color:  #311B92;
}
.purple:after, .purple:before {
  background: #311B92;
}
.purple-heading {
  color: #673AB7;
  text-shadow: 0px 0px #311B92, 1px 1px #311B92, 3px 3px #311B92, 4px 4px #311B92, 5px 5px #311B92;
}
.pink {
  background: #E91E63;
  color:  #880E4F;
}
.pink:after, .pink:before {
  background: #880E4F;
}
.pink-heading {
  color: #E91E63;
  text-shadow: 0px 0px #880E4F, 1px 1px #880E4F, 3px 3px #880E4F, 4px 4px #880E4F, 5px 5px #880E4F;
}
.yellow {
  background: #FFEB3B;
  color: #F57f17;
}
.yellow-heading {
  color: #FFEB3B;
  text-shadow: 0px 0px #F57f17, 1px 1px #F57f17, 3px 3px #F57f17, 4px 4px #F57f17, 5px 5px #F57f17;
}
.yellow:after, .yellow:before {
  background: #F57F17;
}
.blue {
  background: #2196F3;
  color: #0D47A1;
}
.blue:after, .blue:before{
  background: #0D47A1;
}
.blue-heading {
  color: #2196F3;
  text-shadow: 0px 0px #0D47A1, 1px 1px #0D47A1, 3px 3px #0D47A1, 4px 4px #0D47A1, 5px 5px #0D47A1;
}
.green {
  background: #BBC34A;
  color: #33691E;
}
.green:after, .green:before {
  background: #33691E;
}
.green-heading {
  color: #BBC34a;
  text-shadow: 0px 0px #33691E, 1px 1px #33691E, 3px 3px #33691E, 4px 4px #33691E, 5px 5px #33691E;
}



/* Modal styles */

.wordList {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
}
button.toggleModal {
  position: fixed;
  right: 5rem;
  top: 5rem;
  color: #1E88E5;
  padding: 30px;
  font-size: 1rem;
}
button.toggleModal i {
  display: block;
}
.wordList > ul {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.wordList li {
  padding-bottom: 3rem;
}
