body {
  width: 100vw;
  height: 100vh;
  background: #4DD0E1;
}
.main{
  width: 600px;
  margin: 0 auto;
}
.flexbox {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wordContainer {
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wordContainer:after {
  content: '';
  height: 100px;
  width: 10px;
  transform: skewY(45deg);
  position: absolute;
  top: 5px;
  right: -10px;
}
.wordContainer:before{
  content: '';
  height: 10px;
  width: 250px;
  transform: skewX(45deg);
  position: absolute;
  left: 5px;
  bottom: -10px;
}
.wordInput {
  color: inherit;
  display: inline-block;
  width: 60%;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  background: rgba(255,255,255,0.2);
  border: none;
}
.portmanteau {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 100px;
  position: relative;
  background: linear-gradient(to right, #F44336, #673AB7);
}
.portmanteau:after{
  content: '';
  height: 10px;
  width: 600px;
  transform: skewX(45deg);
  position: absolute;
  left: 5px;
  bottom: -10px;
  background: linear-gradient(to right, #B71C1C, #311B92);
}
.portmanteau:before{
  content: '';
  height: 100px;
  width: 10px;
  transform: skewY(45deg);
  position: absolute;
  top: 5px;
  right: -10px;
  background: #311B92;
}
.portmanteau > span {
  font-size: 1.2rem;
  text-align: center;
  width: 60%;
  height: 25px;
  padding-top: 1px;
  color: rgba(0,0,0,0.5);
  font-family: sans-serif;
  display: inline-block;
  margin: 0;
  background: rgba(255,255,255,0.2);
}
button {
  border: 2px solid #1E88E5;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: none;
  font-size: 0.75rem;
  color: inherit;
}
button > i {
  font-size: 34px;
  line-height: 45px;
  color: #1E88E5;
}
span{
  display: block;
  text-align: center;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.5);
}
button.save {
  border: none;
  margin-right: 40px;
  padding-right: 40px;
}
button.randomWord {
  border: none;
  width: 60px;
  padding: 5px 10px;
  margin: 0;
}
button > .star {
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  line-height: 45px;
}


/* COLORS */

.red {
  background: #F44336;
  color: #B71C1C;
}
.red:after, .red:before {
  background: #B71C1C;
}
.purple {
  background: #673AB7;
  color:  #311B92;
}
.purple:after, .purple:before {
  background: #311B92;
}
.pink {
  background: #E91E63;
  color:  #880E4F;
}
.pink:after, .pink:before {
  background: #880E4F;
}
.yellow {
  background: #FFEB3B;
  color: #F57f17;
}
.yellow:after, .yellow:before {
  background: #F57F17;
}
.blue {
  background: #2196F3;
  color: #0D47A1;
}
.blue:after, .blue:before{
  background: #0D47A1;

}
.green {
  background: #BBC34A;
  color: #33691E;
}
.green:after, .green:before {
  background: #33691E;
}



/* Modal styles */

.wordList {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
}
i.toggleModal {
  position: fixed;
  right: 5rem;
  top: 5rem;
}
.wordList > ul {
  margin-top: 5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.wordList li {
  padding-bottom: 3rem;
}
